*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: aliceblue;
}
.header{
    width: 400px;
    border: 2px solid black;
    background-color: lemonchiffon;
    margin-left: 560px;
    margin-top: 120px;
    margin-bottom: 80px;
}


.flex-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.flex-container > div{
    height: 150px;
    width: 500px;
    margin: 20px;
}
.c4-header{
    margin-top: 40px;
}
.a1{
    margin-top: 20px;
}
.a2{
    margin-top: 20px;
}
.fieldset1{
    width: 400px;
}
.formm{
    margin-left: 150px;
    margin-top: 250px;
}
.anch{
    color: orange;
    text-decoration: underline;
    
}

.footer{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color:darkslategray;
}
.foot{
    text-align: center;
    padding: 4em;
}
.foot > a{
    color: chartreuse;
    margin: 50px;
    text-decoration: underline;
}